<?xml version="1.0" encoding="UTF-8"?>
<!--
 | This is the configuration file for Maven. It can be specified at two levels:
 |
 |  1. User Level. This settings.xml file provides configuration for a single user,
 |                 and is normally provided in ${user.home}/.m2/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -s /path/to/user/settings.xml
 |
 |  2. Global Level. This settings.xml file provides configuration for all Maven
 |                 users on a machine (assuming they're all using the same Maven
 |                 installation). It's normally provided in
 |                 ${maven.conf}/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -gs /path/to/global/settings.xml
 |
 | The sections in this sample file are intended to give you a running start at
 | getting the most out of your Maven installation. Where appropriate, the default
 | values (values used when the setting is not specified) are provided.
 |
 |-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
           http://maven.apache.org/xsd/settings-1.2.0.xsd">
    <!-- localRepository
     | The path to the local repository maven will use to store artifacts.
     |
     | Default: ${user.home}/.m2/repository
    <localRepository>/path/to/local/repo</localRepository>
    -->

    <!-- pluginGroups -->
    <pluginGroups>
    </pluginGroups>

    <!-- proxies -->
    <proxies>
    </proxies>

    <!-- servers -->
    <servers>
        <server>
            <id>private-nexus-releases</id>
            <username>java-developer</username>
            <password>123456</password>
        </server>
        <server>
            <id>private-nexus-snapshots</id>
            <username>java-developer</username>
            <password>123456</password>
        </server>
        <server>
            <id>cloud-nexus-releases</id>
            <username>java-developer</username>
            <password>123456</password>
        </server>
        <server>
            <id>cloud-nexus-snapshots</id>
            <username>java-developer</username>
            <password>123456</password>
        </server>
    </servers>

    <!-- mirrors -->
    <mirrors>
        <mirror>
            <id>JMNexus</id>
            <name>Private Nexus Repository</name>
            <mirrorOf>*</mirrorOf>
            <url>http://maven.lan.net:8081/repository/maven-public/</url>
        </mirror>
    </mirrors>

    <!-- profiles -->
    <profiles>
        <profile>
            <id>dev</id>

            <properties>
                <releases.id>private-nexus-releases</releases.id>
                <releases.name>Private Releases Repository</releases.name>
                <releases.url>http://maven.lan.net:8081/repository/maven-releases/</releases.url>

                <snapshots.id>private-nexus-snapshots</snapshots.id>
                <snapshots.name>Private Snapshots Repository</snapshots.name>
                <snapshots.url>http://maven.lan.net:8081/repository/maven-snapshots/</snapshots.url>
            </properties>

            <repositories>
                <repository>
                    <id>private-nexus</id>
                    <name>Private Nexus</name>
                    <url>http://maven.lan.net:8081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>private-nexus</id>
                    <name>Private Nexus</name>
                    <url>http://maven.lan.net:8081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <profile>
            <id>prod</id>

            <properties>
                <releases.id>cloud-nexus-releases</releases.id>
                <releases.name>Cloud Releases Repository</releases.name>
                <releases.url>http://36.138.170.6:14581/nexus/content/repositories/jm-r/</releases.url>

                <snapshots.id>cloud-nexus-snapshots</snapshots.id>
                <snapshots.name>Cloud Snapshots Repository</snapshots.name>
                <snapshots.url>http://36.138.170.6:14581/nexus/content/repositories/jm-s/</snapshots.url>
            </properties>

            <repositories>
                <repository>
                    <id>cloud-nexus</id>
                    <name>Cloud Nexus</name>
                    <url>http://36.138.170.6:14581/nexus/content/groups/nexus/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>cloud-nexus</id>
                    <name>Cloud Nexus</name>
                    <url>http://36.138.170.6:14581/nexus/content/groups/nexus/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <!-- activeProfiles -->
    <activeProfiles>
      <activeProfile>dev</activeProfile>
    </activeProfiles>

</settings>
